---
  version: 3
  jobs:
    node-12-jdk-8: 
      docker:
        - image: openjdk:8-jdk-stretch
      working_directory: ~/cli
      steps:
        - checkout
        - run: 
            name: Install base tools
            command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed wget zip unzip' 
        - run:
            name: Install node
            command: curl -sL https://deb.nodesource.com/setup_12.x | bash - && apt-get update && apt-get install -y nodejs
        - run:
            name: Install dependencies
            command: npm install && sudo npm install jdeploy -g
        - run:
            name: Testing
            command: npm run test:coverage
        - run:
            name: Submitting code coverage to codecov
            command: |
              ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
              curl -s https://codecov.io/bash | bash
 
  workflows:
    version: 2
    "npm-groovy-lint-build-test":
      jobs:
        - node-12-jdk-8
