---
  version: 3
  jobs:
    # JDK 8 Node 12
    debian-jdk-8-node-12: 
      docker:
        - image: openjdk:8-jdk-stretch
      steps:
        - checkout
        - run: 
            name: Install base tools
            command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed wget zip unzip' 
        - run:
            name: Install node
            command: curl -sL https://deb.nodesource.com/setup_12.x | bash - && apt-get update && apt-get install -y nodejs
        - run:
            name: Install dependencies
            command: npm ci && sudo npm install jdeploy -g
        - run: 
            name: Build
            command: npm run build && ls /usr/bin/npm-groovy-lint && sudo chmod +x /usr/bin/npm-groovy-lint 
        - run:
            name: Testing
            command: npm run test:coverage
        - run:
            name: Submitting code coverage to codecov
            command: |
              ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
              curl -s https://codecov.io/bash | bash

    # JDK 9 Node 12
    debian-jdk-9-node-12: 
      docker:
        - image: openjdk:9
      steps:
        - checkout
        - run: 
            name: Install base tools
            command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed wget zip unzip' 
        - run:
            name: Install node
            command: curl -sL https://deb.nodesource.com/setup_12.x | bash - && apt-get update && apt-get install -y nodejs
        - run:
            name: Install dependencies
            command: npm ci && sudo npm install jdeploy -g
        - run: 
            name: Build
            command: npm run build && ls /usr/bin/npm-groovy-lint && sudo chmod +x /usr/bin/npm-groovy-lint 
        - run:
            name: Testing
            command: npm run test

    # JDK 10 Node 12
    debian-jdk-10-node-12: 
      docker:
        - image: openjdk:10
      steps:
        - checkout
        - run: 
            name: Install base tools
            command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed wget zip unzip' 
        - run:
            name: Install node
            command: curl -sL https://deb.nodesource.com/setup_12.x | bash - && apt-get update && apt-get install -y nodejs
        - run:
            name: Install dependencies
            command: npm ci && sudo npm install jdeploy -g
        - run: 
            name: Build
            command: npm run build && ls /usr/bin/npm-groovy-lint && sudo chmod +x /usr/bin/npm-groovy-lint 
        - run:
            name: Testing
            command: npm run test

    # JDK 11 Node 12
    debian-jdk-11-node-12: 
      docker:
        - image: openjdk:11
      steps:
        - checkout
        - run: 
            name: Install base tools
            command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed wget zip unzip' 
        - run:
            name: Install node
            command: curl -sL https://deb.nodesource.com/setup_12.x | bash - && apt-get update && apt-get install -y nodejs
        - run:
            name: Install dependencies
            command: npm ci && sudo npm install jdeploy -g
        - run: 
            name: Build
            command: npm run build && ls /usr/bin/npm-groovy-lint && sudo chmod +x /usr/bin/npm-groovy-lint 
        - run:
            name: Testing
            command: npm run test

    # JDK 12 Node 12
    debian-jdk-12-node-12: 
      docker:
        - image: openjdk:12-oracle
        steps:
        - checkout
        - run: 
            name: Install base tools
            command: apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed wget zip unzip' 
        - run:
            name: Install node
            command: curl -sL https://deb.nodesource.com/setup_12.x | bash - && apt-get update && apt-get install -y nodejs
        - run:
            name: Install dependencies
            command: npm ci && sudo npm install jdeploy -g
        - run: 
            name: Build
            command: npm run build && ls /usr/bin/npm-groovy-lint && sudo chmod +x /usr/bin/npm-groovy-lint 
        - run:
            name: Testing
            command: npm run test

# As we use free version of CircleCI, uncomment jobs only if there are some detected issues, else debian-jdk-8-node-12 is enough
  workflows:
    version: 2
    "npm-groovy-lint-build-test":
      jobs:
#        - debian-jdk-8-node-12
#        - debian-jdk-9-node-12
#        - debian-jdk-10-node-12
#        - debian-jdk-11-node-12
        - debian-jdk-12-node-12

