name: "DOC - Build and deploy"
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: pip install mkdocs-material mdx_truly_sane_lists
      - run: npm ci
      - run: npm run build
      - run: mkdocs gh-deploy --force
