name: Test

on: [push, pull_request]

permissions: read-all

jobs:
  test_java8_node_16:
    name: Test - Debian - Java 8 - Node 16
    runs-on: ubuntu-latest
    container:
      image: openjdk:8
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install apt packages
        run: "apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'"
      - name: Install node 16
        run: curl -sL https://deb.nodesource.com/setup_16.x | bash - && apt-get update && apt-get install -y nodejs
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_java11_node_16:
    name: Test - Debian - Java 11 - Node 16
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: openjdk:11
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install apt packages
        run: "apt-get update && apt-get upgrade -y && apt-get -y install wget zip unzip sudo && apt-get clean && echo 'Installed linux dependencies'"
      - name: Install node 16
        run: curl -sL https://deb.nodesource.com/setup_16.x | bash - && apt-get update && apt-get install -y nodejs
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_java14_latest_node_16:
    name: Test - Debian - AdoptOpenJDK latest - Node 16
    runs-on: ubuntu-latest
    container:
      image: adoptopenjdk:latest
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node 16
        run: curl -sL https://deb.nodesource.com/setup_16.x | bash - && apt-get update && apt-get install -y nodejs
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_openjdk_20_node_18:
    name: Test - AdoptOpenJDK latest - Node 18
    runs-on: ubuntu-latest
    container:
      image: openjdk:20
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node 18
        run: curl -sL https://deb.nodesource.com/setup_18.x | bash - && apt-get update && apt-get install -y nodejs
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_no_java_node_18_codecov:
    name: Test - Debian - No Java - Node 18 - CodeCov
    runs-on: ubuntu-latest
    container:
      image: node:14-buster
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node 18
        run: curl -sL https://deb.nodesource.com/setup_18.x | bash - && apt-get update && apt-get install -y nodejs
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test:coverage
      - name: Submitting code coverage to codecov
        run: |
          ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
          curl -s https://codecov.io/bash | bash

  test_windows:
    name: Test - Windows
    runs-on: windows-latest
    timeout-minutes: 25
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_mac:
    name: Test - MacOs
    runs-on: macos-latest
    timeout-minutes: 25
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test
