name: Test

on: [push, pull_request]

permissions: read-all

jobs:
  test_java8_node_18:
    name: Test - Debian - Java 8 - Node 18
    runs-on: ubuntu-latest
    container:
      image: openjdk:8-jdk-buster
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_java11_node_18:
    name: Test - Debian - Java 11 - Node 18
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: openjdk:11
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        env:
          DEBUG: "npm-groovy-lint"
        run: npm run test

  test_java14_latest_node_18:
    name: Test - Debian - AdoptOpenJDK latest - Node 18
    runs-on: ubuntu-latest
    container:
      image: adoptopenjdk:latest
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_no_java_node_14_codecov:
    name: Test - Debian - No Java - Node 18 - CodeCov
    runs-on: ubuntu-latest
    container:
      image: node:14-buster
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        env:
          DEBUG: "npm-groovy-lint"
        run: npm run test:coverage
      - name: Build coverage report
        run: ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          file: coverage.lcov
          flags: unittests
          verbose: true
          dry_run: true

  test_windows:
    name: Test - Windows
    runs-on: windows-latest
    timeout-minutes: 25
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        env:
          DEBUG: "npm-groovy-lint"
        run: npm run test

  test_mac:
    name: Test - MacOs
    runs-on: macos-latest
    timeout-minutes: 25
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        env:
          DEBUG: "npm-groovy-lint"
        run: npm run test
